
body{
    font-weight: 300;
}

#main{
    height: 100%;
    max-width: 1200px;
    min-width: 400px;
    width: 80%;
    margin: auto;
    background: white;
    padding: 7px;
    box-shadow: 0 0 10px #c8c8c8;
}

#app{
    background: #f3f3f3;
}

#SideBar ul li:hover{
    background-color: #f7f5f5;
}

.dropdown-content li>a {
    font-size: 14px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: black;
    z-index: 998;
    will-change: opacity;
    transition: 0.3s;
    opacity: 0.5;
}

.overlayClose{
    animation-name: openSideBar;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    will-change: opacity;
    opacity: 0.5;
}

@keyframes openSideBar {
    0%   {
        opacity: 0.5;
        height: 100%;
    }
    99%{
        opacity: 0.1;;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

.open{
    transform: translateX(0px) !important;
    transition: 0.3s;
}

#overlay{
    transition: 0.3s;
}

nav{
    top: 0;
    z-index: 998;
    position: absolute;
}

.navrelatif{
    top: 0;
    position: absolute;
    animation-name: closeNavBar;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
}
.navfixe{
    top: 0;
    position: fixed;
    animation-name: openNavBar;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
}

@keyframes openNavBar {
    0%   {
        top: -100px;
    }
    99%{
        top: 0;
    }
    100% {
        top: 0;
        position: fixed;
    }
}

@keyframes closeNavBar {
    0%   {
        top: 0;
        position: fixed;
    }
    99%{
        top: -100px;
    }
    100% {
        top: -100px;
        position: absolute;
    }
}

fieldset{
    border: none !important;
}

.form-group label{
    font-size: 1rem;
}

select {
    display: block;
}

.error-detail {
    font-size: 20px;
    color: #da2828;
    margin-top: -32px;
}

.panel-danger{
    display: none;
}

.btn-info{
    width: 100%;
}

#root__title{
    display: none;
}

.emailVerify{
    padding: 30px;
    font-size: 18px;
    text-align: center;
}

.imgAdmin{
    height: 100%;
    float: right;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

.userCommentPrincipal {
    min-height: 60px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 10px;
    background: #f3f3f3a1;
    box-shadow: 0 0 6px #dadada;
}

img.imgPrincipal {
    height: 60px;
    border-radius: 100%;
    float: left;
}

span.username {
    line-height: 56px;
    font-weight: 500;
    font-size: 14px;
}

span.comment {
    margin-left: 4px;
}

img.imgSecond {
    height: 40px;
    border-radius: 100%;
    float: left;
}

span.usernameSecond {
    font-weight: 500;
    font-size: 14px;
}

span.commentSecond {
    margin-left: 4px;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for WebKit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.userCommentSecond{
    margin-left: 40px;
}

li.liSecondComment {
    margin-bottom: 5px;
    background:white;
    border-bottom: 1px solid #00000021;
}

.textComment {
    margin-left: 50px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 14px;
}

.textCommentTitle {
    margin-left: 70px;
    margin-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.like{
    position: absolute;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    right: 28px;
    margin-top: -20px;
    background: white;
    padding: 3px;
}

span.likes {
    margin-top: -27px;
    display: block;
    margin-left: 27px;
}

.formLike{
    margin: -20px;
    padding: 0;
    height: 27px;
    width: 62px;
    border-radius: 15px;
}

.buttonLike{
    background: #ffffff00;
    border: 0;
    padding: 0;
    width: 100%;
}

.buttonLike:focus{
    outline: none;
    background-color: #ffffff00;
}

.iconLike{
    margin-left: -14px;
}

#time{
    display: block;
    position: absolute;
    right: 8px;
    margin-top: -70px;
    background-color: white;
    border: 1px solid #cdcdcd;
    padding: 5px;
    font-size: 10px;
    border-radius: 15px;
}

  
.organisation {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #0079BF;
  }
  
.organisation .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #e3e3e3;
    padding: 15px;
    border-radius: 4px;
    margin: 0 5px;
    width: 250px;
    min-height: 200px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.organisation .column .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
  }
  
.organisation .item {
    margin-top: 5px;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
  }
  
  .ijaWEBf{
      transition: 0.3s;
  }

  .cYTDYb{
      transition: 0.3s;
  }

  .sc-ifAKCX {
    transition: 0.3s;
}

.kRlMFD {
    background: #394259 !important; 
    box-shadow: 0px 0px 14px 0px #0000008a !important;
    height: 75vh !important;
    min-height: 250px !important;
}

.dJewwL {
    background-color: #f5f5f5 !important;
}

#dragul {
    height: auto;
    min-height: 300px;
    max-height: 600px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-image: initial;
    overflow: auto;
}

#dragli {
    z-index: 1000;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    border-bottom: 1px solid rgb(239, 239, 239);
}

#dragspan {
    width: 18px;
    height: 11px;
    opacity: 0.25;
    margin-right: 20px;
    cursor: row-resize;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0) 20%, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 40%, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 60%, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 80%, rgb(0, 0, 0) 0px, rgb(0, 0, 0));
}

.Modal-modal-0-1-3 {
    width: 80%;
}

.nocate{
    position: absolute;
    margin: 20px;
    color: white;
    font-size: 20px;
}

.cardRemove{
    position: absolute;
    z-index: 2;
}

.rightOrga{
    width: 55px;
    height: 75vh;
    position: absolute;
    z-index: 1000;
    display: block;
    right: 0;
    top: 0;
}

.leftOrga{
    width: 55px;
    height: 75vh;
    position: absolute;
    z-index: 1000;
    display: block;
}

@media screen and (max-width: 600px) {
    .Modal-modal-0-1-3{
        margin-top: 400px;
        margin-bottom: 0;
    }
}

.App-intro{
    position: relative;
    display: block;
}

.Modal-overlay-0-1-1 {
    display: block;
}

.Modal-modal-0-1-3 {
    margin: auto;
}

section{
    overflow: visible !important;
}

select{
    display: block !important;
}

.masonry {
    margin: 1.5rem 0;
    column-gap: 1.5rem;
}
.masonryFlex{
    width: 50%;
    padding: 15px;
}
@media (max-width: 40rem) {
    .masonry {
        column-count: 2;
    }
    .masonryFlex{
        width: 50%;
    }
    .imageFlex{
        height: 140px;
    }
}
@media (min-width: 40.01rem) {
    .masonry {
        column-count: 3;
    }
    .masonryFlex{
        width: 33.3%;   
    }
    .imageFlex{
        height: 220px;
    }
}
@media (min-width: 70.01rem) {
    .masonry {
        column-count: 4;
    }
    .masonryFlex{
        width: 25%;   
    }
    .imageFlex{
        height: 240px;
    }
}
.masonry > * {
    display: inline-block;
    width: 100%;
}
.wrapper {
    max-width: 90rem;
    margin: 3em auto;
}

.masonryFlexCard{
    display: flex;
    flex-wrap: wrap;
}

.box {
    background:#FFF;
    border-radius:5px;
    display:inline-block;
    margin:6em 0 2em;
    padding:0 20px 20px;
}
  
  .date #daymonth {
    color:#454545;
    font-size:2em;
    padding:10px 0;
  }
  .date #year {
    color:#C1C1C1;
    font-size:1.8em;
  }
  
  .clock {
    background-color:#D75B42;
    border: 0.6em solid white;
    border-radius: 100%;
    height: 8em;
    margin-top:-50%;
    position: relative;
    width: 8em;
  }
  .clock span {
    background: white;
    bottom: 50%;
    display: block;
    left: 50%;
    position: absolute;
    transform-origin: bottom center;
  }
  .clock .hours {
    height: 30%;
    width: 0.2em;
  }
  .clock .minutes {
    height: 45%;
    width: 0.2em;
  }

.absences{
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
  }
.absences .left{
    padding: 5px;
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    overflow: scroll;
}

.absences .right{
    padding: 5px;
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    overflow: scroll;
}

.absencesPage{
    margin: 30px;
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px #dbdbdb;
}

  .absencesCard{
    background: white;
    padding: 5px;
    box-shadow: 0 0 10px #dbd9d9;
    border-radius: 3px;
    margin-bottom: 10px;
    animation-duration: 0.3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }

.causeAbsences {
    display: flex;
    padding: 6px;
    border-top: 1px solid #eaeaea;
}

.dateAbsences {
    min-width: 128px;
    width: 25%;
    border-right: 1px solid #e4e4e4;
}

.raisonAbsences {
    width: 67%;
    max-width: 330px;
    margin-left: 10px;
    word-wrap: break-word;
}

.nameAbsences {
    margin: 5px;
}

.absencesCard {
    color: #010101;
    font-weight: 300;
}

.soloAbsences{
    min-height: 70px;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 0 9px #e7e7e7;
    border-radius: 3px;
    margin-bottom: 13px;
}

.imageSolo{
    width: 70px;
}

.imageSolo img{
    height: 100%;
    width: 100%;
}

.buttonRightSolo{
    width: 30%;
}

.buttonRightSoloButton{
    width: 62%;
    margin: 16px;
    float: right;
}

.boxRow{
    background: white;
    padding: 6px;
    box-shadow: 0 0 10px #c1c1c1;
}

.modalRegister{
    min-height: 400px;
}

.spinnerModalRagister{
    display: block;
    margin: auto;
}

.imageGithub{
    width: 20%;
    float: left;
}

.imageGithub img{
    width: 100%;
    margin-left: -9px;
}

.userGithub{
    margin-left: 20%;
    width: 80%;
}

.userGithub span{
    display: block;
    width: 100%;
}

a.btn.btn-social.btn-github {
    width: 250px;
}

.registerLink {
    margin: 18px;
}

.registerForm{
    padding: 40px;
    text-align: center;
}

.homePage{
    background: white;
    margin: auto;
    width: 95%;
    box-shadow: 0 0 10px #c6c2c2;
    padding: 48px;
}

.NotFound{
    background: white;
    margin: auto;
    width: 95%;
    box-shadow: 0 0 10px #c6c2c2;
    padding: 48px; 
}

.modalRegisterSpinner{
    text-align: center;
    margin-top: 300px;
}